@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --category: #2e383b;
  }
}

/* --background: #FFFFFF
--foreground: #222626
--card: #FFFFFF
--card-foreground: #222626
--popover: #FFFFFF
--popover-foreground: #222626
--primary: #295DE7
--primary-foreground: #D4D4D4
--secondary: #D3D3D3
--secondary-foreground: #2E383B
--muted: #D3D3D3
--muted-foreground: #A9B2B6
--accent: #D3D3D3
--accent-foreground: #2E383B
--destructive: #FF4D4D
--destructive-foreground: #D4D4D4
--border: #D9D9D9
--input: #D9D9D9
--ring: #2353D3 
--category: #2E383B
*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html {
  direction: rtl;
  height: 100%;
  width: 100%;
}

/* Slick carousel */

.slick-dots li button::before {
  font-size: 12px !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.45 !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 9 !important;
  content: "" !important;
}

@media (min-width: 1024px) {
  .slick-dots li button:before {
    font-size: 12px;
  }
  .slick-dots {
    padding-bottom: 40px !important;
  }
}

/* CSS Debug */
/* * {
  border: 1px solid red;
} */
